body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.name{
    border-bottom: 1px solid #ccc;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 100px;
    border-bottom: 1px solid #ccc;
    
}
.title{
    font-size: 30px;
    font-weight: 300;
}
.data{
    font-size: 25px;
    font-weight: 300;
}
.skills{
    display: flex;
    flex-direction: column;
    list-style: circle;

    margin-left: -797px;
    
}
.data2{
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    

    
}
.li{
    margin-left: 40px;

}

.name{
    color: #ccc;
    font-size: 25px;
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    width: 60px;
    margin-right: 20px;
}
.img{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-right: 30px;
}