.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 190px ;
    margin-bottom: 30px;

}
.me{
    border: 2px solid #ccc;
    border-radius: 32px;
    width: 90px;
}
.title{
    margin-left: 30px;
}
.name{
    margin-top: 0;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hello{
    color: #ccc;
    margin: 0;
}
.bio{
    text-align: center;
    color: #ccc;
}
.btn-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border-style: none;
    padding: 15px 20px;
    border-radius: 28px;
    
    color: white;
    font-weight: 600;
    background-color: black;
    cursor: pointer;
    transition: all .5s;
}
.btn:hover{
    background-color: #ccc;
    color: black;
}